<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<meta http-equiv="refresh" content="2" />-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material-wfont.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/ripples.css" rel="stylesheet" />
</head>
<body>

    <h1>Product Page</h1>
    <div>
        [<b th:text="${product.manufacturer}">제조사</b>]
        <b th:text="${product.displayName}"></b> <br />
        상품명: <b th:text="${product.productName}">상품명</b> <br />
        설명: <b th:text="${product.description}">설명</b> <br />
        <table>
            <tr th:each="sku : ${product.skuList}">
                <td th:text="${sku.displayName}"></td>
                <td>
                    <span th:text="판매가 + ${sku.salePrice} + 원" class="label label-primary">ddd</span>
                </td>
                <td th:if="${sku.stock == 0}">
                    <span th:text="일심품절" class="label label-danger">ddd</span>
                </td>
                <td th:if="${sku.stock != 0}">
                    <span th:text="재고 + ${sku.stock} + 개" class="label label-primary">ddd</span>
                </td>
                <td>
                    <span th:text="판매량 + ${sku.saleVolume} + 개">ddd</span>
                </td>
            </tr>
        </table>
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/material.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/ripples.js"></script>
    <script>
        $(document).ready(function() {
            $.material.init();
        });
    </script>
</body>
</html>